.container{
    height: 60px;
    width: 852px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    background-color: var(--color-bg);

    > div {
        border-right: 1px solid #000;
        height: 100%;
        color: var(--color-text);
        font-weight: bold;
    }

   

    > div:last-child {
        border-right: none;
    }
    

    .team{
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;

        .teaminput{
            width: 90%;
            height: 80%;
            background-color: transparent;
            color: var(--color-text);
            padding-left: 10px;
            font-size: 12px;
            font-weight: bold;
            border: 1px solid var(--color-marker);
        }

        .teaminput::placeholder{
            color: var(--color-marker);
        }
    }

    .mbs{
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .matchResult{
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upsideDown{
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HandicapMatchOutcome{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .doubleChance{
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .BothTeamsScore{
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Info{
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}