.contaier {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  position: relative;

  .main {
    display: flex;
    

    .virtuoso {
      width: 852px;
      overflow: hidden;
      scrollbar-width: none;
      backdrop-filter: blur(8px);
    }

    .loading{
      width: 852px;
      height: 760px;
      backdrop-filter: blur(8px);
      display: flex;
      justify-content: center;
      align-items: center;

      .loadingicon{
        right: 50%;
        top: 50%;
        width: 50px; /* Topun boyutunu buradan ayarlayabilirsiniz */
        height: 50px;
        animation: spin 2s linear infinite; 
      }
    }



    @keyframes spin {
        0% {
          transform: rotate(0deg); /* 0 derece döndür */
        }
        100% {
          transform: rotate(360deg); /* 360 derece döndür */
        }
      }
  }
}
